server:
  port: 8081

spring:
  application:
    name: ms-competencias
  datasource:
    url: jdbc:postgresql://localhost:5433/linketinder_competencias
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect